<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="8hrs.xyz holds any article that appeared on hacker news front page for 8 hours aka Technology News from the past 8hrs.">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS feed of 8hrs.xyz" href="https://8hrs.xyz/feed/rss">
  <link rel="alternate" type="application/atom+xml" title="Atom feed of 8hrs.xyz" href="https://8hrs.xyz/feed/atom">
  <link rel="alternate" type="application/json" title="JSON feed of 8hrs.xyz" href="https://8hrs.xyz/feed/json">

  <title>Tech & News | Past 8hrs</title>
  <style>
    body{
      background-color: {{ .bgColor }};
    }
  </style>
</head>

<body>
  <header>
      <h1>Tech & News</h1>
  </header>
  
  <main>
      <ul style="display: inline;">
        <a href="/html?t=8">8hrs</a>
        <a href="/html?t=16">16hrs</a>
        <a href="/html?t=24">24hrs</a>
      </ul>
      <ol class="list">
          {{ range $item := .items }}
          <li>
            {{ if $item.Deleted }}
              <del>
            {{ else if $item.Dead }}
              <s>
            {{ end }}
                {{ if eq $item.URL "" }}
                <a class="readable" target="_blank" href="{{ $item.DiscussLink }}" ping="/l/{{ $item.EncryptedDiscussLink }}">{{ $item.Title }}</a>
                {{ else }}
                <a class="readable" target="_blank" href="{{ $item.URL }}" ping="/l/{{ $item.EncryptedURL }}">{{ $item.Title }} <span class="domain">({{ $item.Domain }})</span></a>
                {{ if ne $item.DiscussLink "" }}
                <a class="readable" target="_blank" href="{{ $item.DiscussLink }}" ping="/l/{{ $item.EncryptedDiscussLink }}"><i class="discuss">discuss</i></a>
                {{ end }}
                {{ end }}
            {{ if $item.Deleted }}
              </del>
            {{ else if $item.Dead }}
              </s>
            {{ end }}
          </li>
          {{ end }}
        </ol>
  </main>

  <footer>
    <a class="readable" href="https://twitter.com/seshnsesh" target="_blank">Feedback</a>
  </footer>
</body>

</html>
