<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134749816-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134749816-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="8hrs.xyz holds any article that appeared on hacker news front page for 8 hours aka Technology News from the past 8hrs.">

  <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
  <link rel="manifest" href="static/site.webmanifest">
  <link rel="stylesheet" href="static/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS feed of 8hrs.xyz" href="https://8hrs.xyz/feed/rss">
  <link rel="alternate" type="application/atom+xml" title="Atom feed of 8hrs.xyz" href="https://8hrs.xyz/feed/atom">
  <link rel="alternate" type="application/json" title="JSON feed of 8hrs.xyz" href="https://8hrs.xyz/feed/json">

  <title>Tech & News | Past 8hrs</title>
  <meta name="google-site-verification" content="6pWx0BiWSNVUoV-TAKEd8Azk1752DhY5uxq6FY1PQaU" />
</head>

<body>
  <header>
      <h1>Tech & News</h1>
  </header>
  
  <main>
      <ol class="list">
          {{ range $item := . }}
          <li>
            {{ if $item.Deleted }}
              <del>
            {{ else if $item.Dead }}
              <s>
            {{ end }}
                {{ if eq $item.URL "" }}
                <a class="readable" target="_blank" href="{{ $item.DiscussLink }}">{{ $item.Title }}</a>
                {{ else }}
                <a class="readable" target="_blank" href="{{ $item.URL }}">{{ $item.Title }} <span class="domain">({{ $item.Domain }})</span></a> 
                {{ if ne $item.DiscussLink "" }}
                <a class="readable" target="_blank" href="{{ $item.DiscussLink }}"><i class="discuss">discuss</i></a>
                {{ end }}
                {{ end }}
            {{ if $item.Deleted }}
              </del>
            {{ else if $item.Dead }}
              </s>
            {{ end }}
          </li>
          {{ end }}
        </ol>
  </main>

  <footer>
    <a class="readable" href="https://twitter.com/seshnsesh" target="_blank">Feedback</a>
  </footer>
</body>

</html>
