[Unit]
Description=x daemon
After=network.target

[Service]
ExecStart=/home/abbiya/x
Restart=on-failure
Environment="APP_CONFIG_PATH=/home/abbiya/config.json"

[Install]
WantedBy=default.target